<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.bs.mapper.BusinessStatusMapper">

	
	<select id="getDetailList" resultType="String">
		select SALES_SER_NAME from SALES_TEMP group by sales_ser_name order by SALES_SER_NAME
	</select>
	
	
	<select id="getList"    resultType="kr.or.ddit.bs.domain.BusinessStatusResultVO">


		select  SALES_SER_NAME,
       SALES_BD_NAME,
       MIN(DECODE(SALES_BUNGI_CODE, 2, SALES_STORE_COUNT)) FIRST,
       MIN(DECODE(SALES_BUNGI_CODE, 4, SALES_STORE_COUNT)) SECOND,
       MIN(DECODE(SALES_BUNGI_CODE, 2, SALES_STORE_COUNT))- MIN(DECODE(SALES_BUNGI_CODE, 4, SALES_STORE_COUNT)) STORE


		from SALES_TEMP_CSCODE
		where SALES_BD_NAME = #{area2}
		  and SALES_CS_CODE like '%'||#{upjong}|| '%'
		  and SALES_CS_CODE like '%'||#{detailupjong} || '%'
		 and SALES_BUNGI_CODE IN ( 2, 4)
		GROUP BY SALES_SER_NAME, SALES_BD_NAME
	</select>
	
	
	
</mapper>