<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.notice.mapper.NoticeMapper">
   
   <!-- 리스트 출력 -->
   <select id="getList" resultType="kr.or.ddit.domain.BoardVO">
     select * from BOARD where BOARD_CATEGORY_ID = 'notice'
    </select>
    
    <!-- 상세글 출력 -->
    <select id="read" resultType="kr.or.ddit.domain.BoardVO">
		select * from BOARD where board_id = #{board_id} and  BOARD_CATEGORY_ID = 'notice'
	</select>
	
	<!--글 수정 -->
	
	<update id="modify">
		update board  
		set 
		member_id = '2',
		board_title = #{board_title ,jdbcType=VARCHAR},
		board_content = #{board_content,jdbcType=VARCHAR},
		board_datetime = sysdate
		where board_id = #{board_id,jdbcType=VARCHAR}
	</update>


	
	<!-- 게시글 삭제 -->
	
	<delete id="remove">
		delete from board
		where board_id = #{board_id}
	</delete>
	
	<!-- 게시글 등록  -->
   <insert id="insert">
      insert into board (board_id, member_id, board_title, board_content, board_datetime,
                     board_reply_count, board_status, board_category_id, board_temp_save, board_hit)
      values (seq_board.nextval, '1', #{board_title}, #{board_content}, sysdate, '3', 'y', 'notice','y', '1')
   </insert>
   

	
</mapper>