<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.caa.mapper.CAAMapper">
	<select id="getCscodeList" resultType="kr.or.ddit.caa.domain.CscodeVO">
		select *
		from cs_code
		where cs_code_depth = #{cs_code_depth}
	</select>
	
	<select id="otherCscodeList" resultType="kr.or.ddit.caa.domain.CscodeVO">
		select *
		from cs_code
		where cs_code2 = #{keyword}
		
	</select>
	
	<select id="getSubwayPop" resultType="java.util.HashMap">
		select SP.SUBWAY_MONTH month, SUM(SP.SUBWAY_RIDE) ride,  SUM(SP.SUBWAY_QUIT) quit
		from SUBWAY_PASSENGER SP
		         inner join SUBWAY_STATION SS
		                    on SP.SUBWAY_STATION_ID = SS.SUBWAY_STATION_ID
		                        and SS.SUBWAY_STATION_NAME LIKE '%동묘%'
		                        and SP.SUBWAY_YEAR = 2019
		group by SP.SUBWAY_MONTH order by SP.SUBWAY_MONTH asc
	</select>
	
	<select id="getStoreList" resultType="kr.or.ddit.caa.domain.StoreVO">
		select *
		from store
		where STORE_CS_CODE_NAME = #{store_cs_code_name} and 
			<foreach collection="storeList" item="item" index="index" open="(" close=")" separator="or">
				STORE_SER_CODE_NAME LIKE  '%'||#{item.middle}||'%'
			</foreach>
	</select>
	
	
<!-- 	동적 쿼리, 파라미터  수정해야함-->
	<select id="SalesByIndustryList" resultType="kr.or.ddit.caa.domain.SalesByIndustryVO">
select * from SALES_TEMP where SALES_SER_NAME like '%한식음식점%' and SALES_BD_NAME like '%고분다리골목시장%' and SALES_YEAR ='2019'
	</select>
	
</mapper>