<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.caa.mapper.CAAMapper">
	<select id="getCscodeList" resultType="kr.or.ddit.caa.domain.CscodeVO">
		select *
		from cs_code
		where cs_code_depth = #{cs_code_depth}
	</select>
</mapper>