<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.member.mapper.MemberMapper">


	<insert id="insertMember"  >
		    INSERT INTO member  VALUES(#{member_id}, #{member_password},#{member_email},#{member_enabled},#{member_username}) 
	</insert>

	<!-- <select id="getListWithPaging"
		resultType="kr.or.ddit.caa.domain.BoardVO">
      <![CDATA[
         select
            board_id,board_title,board_content,board_id,board_datetime,board_datetime, board_reply_count
         from
            (
               select /*INDEX_DESC(tbl_board pk_board)*/
                  rownum rn, bno, title, content, writer, regdate, updatedate, replycnt
               from
                  tbl_board
               where 
      ]]>
      <include refid="condition"></include>	
      <![CDATA[
            rownum <= #{pageNum} * #{amount}
               )
         where rn > (#{pageNum} -1) * #{amount}
      ]]>
	</select>
	
	<select id="updateReplyCnt">
		update tbl_board
		set replycnt = replycnt + #{amount}
		where bno = #{bno}
	</select>

	<select id="getTotalCount" resultType="int">
		select count(*)
		from tbl_board
		where
		<include refid="condition"></include>
		bno > 0
	</select>

	<insert id="insert">
		insert into tbl_board(bno,title,content,writer)
		values(seq_board.nextval, #{title},#{content},#{writer})
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into tbl_board(bno,title,content,writer)
		values(#{bno}, #{title},#{content},#{writer})
	</insert>

	<select id="read" resultType="kr.or.ddit.caa.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>

	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>

	<update id="update">
		update tbl_board
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = sysdate
		where bno = #{bno}
	</update> -->
</mapper>