<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.sales.mapper.SalesMapper">
    <select id="getCscodeList" resultType="kr.or.ddit.caa.domain.CscodeVO">
      select *
      from cs_code
      where cs_code_depth = #{cs_code_depth}
   </select>

    <select id="getCscodeList2" resultType="kr.or.ddit.caa.domain.CscodeVO">
      select *
      from cs_code
      where cs_code2 = #{cs_code}
   </select>

    <select id="getSidoList" resultType="kr.or.ddit.sales.domain.SidoVO">
      select SIDO_CODE, SIDO_NAME
      from SIDO
      order by SIDO_CODE asc
   </select>

    <select id="getSigunguList" resultType="kr.or.ddit.sales.domain.SigunguVO">
      select SIGUNGU_CODE, SIDO_CODE, SIGUNGU_NAME
      from SIGUNGU
      where SIDO_CODE = #{sido_code}
      order by SIDO_CODE asc
   </select>

   <select id="getSigungu" parameterType="String" resultType="kr.or.ddit.sales.domain.SigunguVO">
      select SIGUNGU_CODE, SIDO_CODE, SIGUNGU_NAME
      from SIGUNGU
      where SIGUNGU_CODE = #{sigungu_code}
      order by SIDO_CODE asc
   </select>

    <select id="getSales" parameterType="hashMap" resultType="kr.or.ddit.sales.domain.SalesAnalysisVO">
      select SALES_YEAR,

       TRUNC(AVG(DECODE(SALES_BUNGI_CODE,1, SALES_MEN_PRICE, 2, SALES_MEN_PRICE))) FIRST,
       TRUNC(AVG(DECODE(SALES_BUNGI_CODE,3, SALES_MEN_PRICE, 4, SALES_MEN_PRICE))) SECOND,

       SALES_SER_NAME,
       #{commercial_name} commercial_name

      from SALES_TEMP_CSCODE
      where SALES_BD_NAME = #{sigungu}
        and SALES_CS_CODE like #{large} || '%'
        and SALES_CS_CODE like #{middle} || '%'
        and to_char(SALES_YEAR) >= to_char(add_months(sysdate, -12), 'yyyy')

      GROUP BY  SALES_SER_NAME,SALES_YEAR
   </select>


</mapper>